<div id="field2" name="field2">
    <input type="hidden" name="linkid" data-val="true" data-val-required="The Id field is required." id="item_Id">
    <!-- Text input-->
    <div class="form-group row">
        <label class="col-sm-2 text-right control-label col-form-label">Nome</label>
        <div class="col-md-8">
            <input id="nome_id" name="nomelink" type="text" placeholder="" class="form-control input-md">
        </div>
    </div>
    <!-- Text input-->
    <div class="form-group row">
        <label class="col-sm-2 text-right control-label col-form-label">Link</label>
        <div class="col-md-8">
            <input id="link_id" name="link" type="text" pl...                              <label class="col-sm-2 text-right control-label col-form-label">Usuario</label>
            <div class="col-md-5">
                <input id="user_name" name="user" type="text" placeholder="" class="form-control input-md">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 text-right control-label col-form-label">Senha</label>
            <div class="col-md-5">
                <input id="pass_name" name="pass" type="text" placeholder="" class="form-control input-md">
            </div>
        </div><div class="row" id="remove1"><div class="col-md-2"></div><div class="col-md-7"><div class="form-group"> <button id="remove1" class="btn btn-danger remove-me">Remove</button></div></div></div>
    </div>
</div>